body {
    background-image: url('./Background4.jpg');
    text-align: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: cursive, sans-serif;
    font-size: 2vw;
    background-attachment: fixed;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkblue;
}

p {
    color: Indigo;
    background-color: lightblue;
}

a {
    color: blue;
    background-color: lightblue;
    text-decoration: none;
}
.button {
  border-radius: 25px;
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}